 <h1> Register</h1>
<form action="/register" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" id='name' name="name">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" email="email">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" password="password">
    </div>
    <button type="submit">Register</button>
</form>

<a href="/login">Login</a>